@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
}

header > h1 {
    color: #fff;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 76.8px;
    padding: 50px 0px 0px 0px;
    position: relative;
}

span.titulo {
    display: inline-block;
    font-size: 53.8px;
}

header > p {
    color: #fff;
    text-align: center;
    font-family: var(--fonte1);
    padding-bottom: 50px;
}


header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    font-family: var(--fonte3);
    font-size: 26.9px;
    line-height: 2em;
    padding: 65px 30px;
}

section.secao-1 {
    padding-bottom: 70px;
}

section.secao-2 {
    background-image: url('../imagens/background001.jpg');
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.158);
}

section.secao-2 > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
}

section.secao-4 {
    background-image: url('../imagens/background002.jpg');
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.178);
}

section.secao-4 > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
}

footer {
    color: #fff;
    background-color: black;
    font-family: var(--fonte1);
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

.fa-linkedin, .fa-github-square {
    font-size: 2.1em;
    padding: 1px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(255, 255, 255, 0.637);
}

@media (max-width: 768px) {
    header > h1 {
        font-size: 10vw;
    }

    span.titulo {
        font-size: 7vw;
    }

    section {
        font-size: 3.5vw;
    }
}